body {
    background-color: rgba(25,161,173,255);
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 23.5vh, left 50vw top 30vh;
    background-size: 1600px;
}

h1 {
    margin: 0;
    font-size: 22px;
    top: -17%;
    position: relative;
}

span {
    color: rgb(149, 148, 150);
    font-weight: 400;
    margin-left: 10px;
}
h2 {
    font-size: 20px;
    margin: 0;
}

h3 {
    margin-bottom: 0;
    margin-top: 8px;
    color: rgb(149, 148, 150);
    font-size: 12px;
    font-weight: 100;
}

.grid-container {
    margin: 0 auto;
}

.card {
    display: grid;
    grid-template-rows: 0.7fr 1fr 0.5fr;
    text-align: center;

}

.banner {
    height: 140px;
}

.banner svg {
    border-radius: 15px 15px 0 0;
}

.profile {
    background-color: white;
    height: 175px;
}

.profile img {
    border-radius: 50%;
    border: white solid 5px;
    position: relative;
    height: 105px;
    top: -30%;
}

.profile p{
    color: rgb(141, 141, 141);
    position: relative;
    top: -20%;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    border-top: 2px solid rgb(240, 240, 240);
    border-radius: 0 0 15px 15px;
    padding: 25px;
}